html {background-image: url(/myFirstWebsite/assets/topography.png);}

@font-face {font-family: "merri";
src: url(/myFirstWebsite/assets/Merriweather-Bold.ttf);}

@font-face {font-family: "merrilight";
src: url(/myFirstWebsite/assets/Merriweather-Light.ttf);}

@font-face {font-family: "conso";
src: url(/myFirstWebsite/assets/consola.ttf);}

.navbarColor {background-color: rgb(43, 41, 41);}

.margin {margin: 120px;}
.margin3 {margin-left: 600px;}
.margin5 {margin: 60px;}

.size1 {font-size: 70px;}

.navLink {
    font-family: "conso";
    font-size: 27px;
    color: rgb(230, 0, 153);
    margin: 25px;
}

.mainTitle {
    font-family: "merri";
    font-size: 70px;
    font-weight: bold;
    margin: 120px;
}

.mainArticleTitle {
    font-family: "merrilight";
    font-size: 40px;
    color:  rgb(255, 0, 179);
    font-weight: bold;
}

.mainText {
    font-family: "conso";
    font-size: 27px;
}

.centerLine {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}

.centerTitle {
    font-family: "merri";
    font-size: 47px;
    text-align: center;
}

.definitions {
    margin: 120px;
}

.definitions p:nth-child(2n + 1) {
    font-family: "merri";
    font-size: 30px;
    font-weight: bold;
}

.definitions p:nth-child(2n + 2) {
    font-family: "conso";
    font-size: 21px;
    line-height: 35px;
}
